name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
    GO_VERSION: "~1.20"

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247 # v3

      - name: Set up Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        run: go test -v ./...