name: Run tests

on: [push]

env:
    GO_VERSION: "~1.20"

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3

      - name: Set up Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        run: go test -v ./...